<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: blue;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>

<div class="jumbotron">
    <a href="/">Volver</a>
    <h1>Vista de Productos</h1>
    {{#if productosEncontrados}} 
        <div class="table-responsive">
            <table class="table table-dark">
                <tr> 
                    <th>Nombre</th> 
                    <th>Precio</th> 
                    <th>Stock</th>
                    <th>Foto</th>
                </tr>
                {{#each productos}}
                    <tr> 
                        <td>{{this.titulo}}</td> 
                        <td>${{this.precio}}</td>
                        <td>${{this.stock}}</td>
                        <td>
                            <img width="50" src={{this.imagen}} alt="not found">
                        </td> 
                    </tr>
                {{/each}}
            </table>
        </div>
    {{else}}  
        <h3 class="alert alert-warning">No se encontraron productos</h3>
    {{/if}}
</div>