<%- include('./partials/encabezado.ejs') %>
<div class="container mt-3">
  <%- include('./partials/ruta.ejs', {username:username}) %>
  <div class="jumbotron">
    <h1 style="color: blue">Ingrese datos</h1>
    <form action="/productos" method="post" onsubmit="return post(this)">
      <div class="form-group">
        <label for="nombreP"><strong>Nombre</strong></label>
        <input id="nombreP" class="form-control" type="text" name="nombreP" />
      </div>
      <div class="form-group">
        <label for="precio"><strong>Precio</strong></label>
        <input
          id="precio"
          class="form-control"
          type="number"
          name="precio"
        />
      </div>
      <div class="form-group">
        <label for="stock"><strong>Stock</strong></label>
        <input id="stock" class="form-control" type="number" name="stock" />
      </div>
      <div class="form-group">
        <label for="imagen"><strong>Imagen</strong></label>
        <input id="imagen" class="form-control" type="text" name="imagen" />
      </div>
      <button class="btn btn-success mt-3 mb-5">Enviar</button>
    </form>
    <div class="form-group" id="chat">
      <h1>Chat personal</h1>
      <form action="/mensajes" method="post">
        <input type="text" id="alias" placeholder="Alias" required /> <br>
        <input type="text" id="nombre" placeholder="Nombre" required /> <br>
        <input type="text" id="apellido" placeholder="Apellido" required /> <br>
        <input type="email" id="email" placeholder="example@gmail.com" required /> <br>
        <input type="number" id="edad" placeholder="Edad" required /> <br>
        <input type="text" alt="Icono" id="icono" placeholder="Icono" required /> <br>
        <hr />
        <%- include('./partials/chat.ejs', messages) %>
        <input type="text" id="mensaje" placeholder="Escribe un mensaje..." />
        <br /><br />
        <input type="submit" value="Enviar" />
      </form>
    </div>
    <h2 style="color: crimson">Historial</h2>
    <%- include('./partials/tabla.ejs',  products) %>
  </div>
</div>
<%- include('./partials/pie.ejs') %>